.container {
  text-align: center;
  padding: 20px; /* Adiciona espaçamento interno para melhor aparência */
  background-color: var(--footer-background-color); /* Configura cor de fundo */
}

.container p {
  font-size: 16px;
  color: var(--footer-text-color); /* Usa a variável para cor do texto */
  line-height: 1.5; /* Melhor legibilidade */
  margin: 0; /* Remove margens padrão */
}
