.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px; /* Adicionado espaçamento lateral menor */
  text-align: center;
}

.contactInfo {
  display: flex;
  flex-direction: column; /* Alinha verticalmente para telas menores */
  align-items: center;
  gap: 10px; /* Espaçamento reduzido entre itens */
  margin-bottom: 20px;
}


.email, .phone {
  font-size: 1rem; /* Tamanho ajustado para telas menores */
  font-weight: bold;
  text-align: center;
}

.email a, .phone a {
  color: #000;
  text-decoration: none;
}

.email a:hover, .phone a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .contactInfo {
    flex-direction: row; /* Alinha horizontalmente em tablets e desktops */
    gap: 20px;
  }

  .email, .phone {
    font-size: 1.2rem; /* Texto maior em telas maiores */
  }
}
